* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 10rem;
  max-width: 800px;
  margin: 0 auto;
}

/* content box start*/
.content-box {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  border-radius: 20px;

  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2);
}
/* content box end */

.input-section {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.to-do_input {
  border: 1px solid #eee;
}
.to-do_input:focus {
  outline: none;
}

/* button styles start */
.create-button {
  background-color: #eee;
  color: black;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 9px #999;
}

.create-button:hover {
  background-color: #f3f3f3;
}
.create-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.to-do_input {
  padding: 1rem;
  font-size: 1rem;
  width: 50%;
  border-radius: 20px;
  height: 3rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  margin-left: 2rem;
}
.todo-flex {
  display: flex;
  gap: 1rem;
}
.buttons-flex {
  display: flex;

  gap: 0.5rem;
}
.todo-qty {
  padding: 1rem;
  margin: 0 auto;
}
p {
  color: black;
  background-color: #eee;
  border-radius: 10px;
  height: 2rem;
  width: 80%;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  line-height: 2rem;
}
.delete-todo-button,
.done-todo-button {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0 4px #999;
}

.delete-todo-button:hover,
.done-todo-button:hover {
  background-color: #f3f3f3;
}

.delete-todo-button:active,
.done-todo-button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.todo-done {
  text-decoration: line-through;
}
